@{
    ViewData["Title"] = "Home Page";
}

<h1>Upload Excel File</h1>

<form asp-action="UploadFile" asp-controller="Home" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">Upload</button>
</form>

@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}
